.whitespace {
    width: 100%;
    height: 100px;
}

@media(max-width: 768) {
    .whitespace {
        display: none;
    }
}

h6 {
    text-align: center;
    color: #fff;
}

.vertical {
    margin-top: 40px;
    border-left: 1px solid #fff;
    height: 80px;
    position: absolute;
    left: 50%;
}

.project {
    height: 500px;
}

.project1 {
    background: url() no-repeat 50% 50%;
    background-size: cover;
}

.project1::after {
    content: "blockchain transactions v2.";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 8%;
    left: -60%;
    right: 0;
    bottom: 0;
}
.project2 {
    background: url() no-repeat 50% 50%;
    background-size: cover;
}

.project2::after {
    content: "moodroid.";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 80%;
    left: 90%;
    right: 0;
    bottom: 0;
}
.project3 {
    background: url() no-repeat 50% 50%;
    background-size: cover;
}

.project3::after {
    content: "blockchain twitter bot.";
    font-size: 36px;
    position: relative;
    color: #fff;
    display: block;
    top: 80%;
    left: -50%;
    right: 0;
    bottom: 0;
}

@media(max-width:768px) {
    .project {
        width: 90% !important;
        margin: 14px auto;
    }

    .vertical{
        display: none;
    }

    .project1::after, .project2::after, .project3::after {
        display: none;
    }
}
