
.App {
  text-align: center;
}

nav {
  height: 60px;
  width: 100%;
  position: fixed;
}

.scrolled {
  position: fixed;
  background-color: #0f0f0f;
}

.logo {
  float: left;
  display: block;
  margin-left: 82px;
  line-height: 80px;
  font-weight: bold;
}
.logo a {
  color: #fff;
  text-transform: lowercase;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0px;
  text-decoration: none;
  letter-spacing: 1.2px;
  transition: all 0.3s ease-out;
}

nav ul {
  float: right;
}

nav ul li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  position: relative;
  text-decoration: none;
}
nav ul li span {
  font-weight: 700;
}

nav ul li:not(:first-child) {
  margin-left: 30px;
}

nav ul li:last-child {
  margin-right: 60px;
}

nav ul li a {
  display: inline-block;
  color: #fff !important;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1.2px;
  
}

@media screen and (max-width: 864px) {
  .logo {
        padding: 0;
  }

  .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #0f0f0f;
        opacity: 0;
        transition: all 0.2s ease;
  }

  .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
  }

  .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
  }

  .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        text-decoration: none;
        transition: all 0.2s ease;
  }

  .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
        top: 15px;
  }

  .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
        margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
  }

  .nav-btn i:nth-child(3) {
        margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #fff;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hiddens {
  display: none;
}

.header {
  padding-top: 300px;
  padding-bottom: 275px
}

.line {
  width: 24em;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCussor 500ms steps(40) infinite normal;
  color: #fff;
  font-weight: 100;
  font-size: 40px;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
}

@keyframes typewriter {
  from {
      width: 0;
  }
  to {
      width: 9em;
  }
}

@media(max-width: 768px) {
  @keyframes typewriter {
      from {
          width: 0;
      }
      to {
          width: 9em;
      }
  }
}
@keyframes blinkTextCussor {
  from {
      border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
      border-right-color: transparent;
  }
}